doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Opine
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
.container.mt-5
  .row
    .col-lg-4
    .col-lg-4.mt-5
      h2 OPINE
      form.mt-5(action='/' method='post')
        .form-group
          label(for='exampleInputEmail1') Email address
          input#exampleInputEmail1.form-control(type='email' name='email' aria-describedby='emailHelp' placeholder='Enter email')
        .form-group
          label(for='exampleInputPassword1') Ethereum Address
          input#exampleInputPassword1.form-control(type='ethereum' name='ethereum' placeholder='Ethereum Address')
        .form-check
        button.btn.btn-primary.btn-block(type='submit') Submit
