doctype html 
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Opine
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
.container.mt-5
  .row
    .col-lg-4
    .col-lg-4.mt-5
      h2 OPINE
      p You voted to #{candidate}
      p The results of this election will be sent shortly to your registered E-Mail
      p #{transaction} is the transaction ID.